= form_for [ "admin", @page ] do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :title
    = f.text_field :title, class: "form-control"

  %p
    = f.label :body
    = f.cktext_area :body
  %p
    = f.label :slug
    = f.text_field :slug, class: "form-control"
  %p
    =f.label :category_id
    =f.select :category_id, Category.all.map { |category| [ category.name, category.id] }, include_blank: true, class: "form-control"

  %p
    =f.label :type_id
    =f.select :type_id, Type.all.map { |type| [ type.name, type.id] }, include_blank: true, class: "form-control"

  - if(@page.type != nil)
    %h4 Custom type fields

    =f.fields_for :fields do |c|
      %p
        =c.label :value, c.object.field_definition.key
        =c.text_field :value, class: "form-control"
        =c.hidden_field :field_definition_id


  %p
    / =f.hidden_field :type_id
    = f.submit 'Save'